<h2>Where are You? Who are you with? What tools have you got?</h2>
<p>Choose a context (aka 'tag') and let's Get Things Done!</p>

<ul>
<% @tags.each do |tag| %>
<li><%= link_to(tag.name,tag_path(tag)) %></li>
<% end %>
</ul>